<settings>
    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle" prompt="@Strings.BackgroundColorPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Black</listEntry>
            <listEntry value="1">@Strings.White</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ClockColor" title="@Strings.ClockColorTitle" prompt="@Strings.ClockColorPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.White</listEntry>
            <listEntry value="1">@Strings.Black</listEntry>
            <listEntry value="2">@Strings.Green</listEntry>
            <listEntry value="3">@Strings.Blue</listEntry>
            <listEntry value="4">@Strings.Red</listEntry>
            <listEntry value="5">@Strings.Yellow</listEntry>                        
        </settingConfig>
    </setting> 
    <setting propertyKey="@Properties.StepsBarColor" title="@Strings.StepsBarColorTitle" prompt="@Strings.StepsBarColorPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Green</listEntry>
            <listEntry value="1">@Strings.Blue</listEntry>
            <listEntry value="2">@Strings.Red</listEntry>
            <listEntry value="3">@Strings.Yellow</listEntry>
        </settingConfig>
    </setting>    
    <setting propertyKey="@Properties.StepsAsText" title="@Strings.StepsAsTextTitle">
        <settingConfig type="boolean" />
    </setting>    
    <setting propertyKey="@Properties.ShowBluetoothIcon" title="@Strings.ShowBluetoothIconTitle">
        <settingConfig type="boolean" />
    </setting>    
    <setting propertyKey="@Properties.ShowNotifications" title="@Strings.ShowNotificationsTitle">
        <settingConfig type="boolean" />
    </setting>
</settings>